* {
    font-family: 'jetBrains Mono';
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --bgBoard: #1a1a1a;
    --title: #dadada;
    --describe: #757575;
}

main {
    background-color: var(--bgBoard);
    width: 100%;
    height: 100dvh;
    overflow: hidden;
}

#board {
    background-image: repeating-linear-gradient(90deg, hsla(15, 0%, 62%, 0.05) 0px, hsla(15, 0%, 62%, 0.05) 1px, transparent 1px, transparent 104px), repeating-linear-gradient(0deg, hsla(15, 0%, 62%, 0.05) 0px, hsla(15, 0%, 62%, 0.05) 1px, transparent 1px, transparent 104px), repeating-linear-gradient(0deg, hsla(15, 0%, 62%, 0.07) 0px, hsla(15, 0%, 62%, 0.07) 1px, transparent 1px, transparent 52px), repeating-linear-gradient(90deg, hsla(15, 0%, 62%, 0.07) 0px, hsla(15, 0%, 62%, 0.07) 1px, transparent 1px, transparent 52px), linear-gradient(0deg, rgb(20, 20, 20), rgb(20, 20, 20));
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px;

    /* descrição das funcionalidades da página */
    #description {
        position: absolute;
        user-select: none;
        z-index: 1000000;
        top: 10px;
        left: 10px;

        h1 {
            color: var(--title);
        }

        p {
            color: var(--describe);
            font-size: 12px;
        }
    }

    /* Card de cores */
    #colors {
        width: auto;
        height: auto;
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        z-index: 1000000;

        p {
            color: var(--describe);
            font-size: 12px;
            position: absolute;
            right: 0px;
            top: -20px;
            user-select: none;
        }

        .color {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 2px solid white;
        }

        .color:hover {
            scale: 1.1;
        }

        .color:active {
            opacity: 0.5;
        }

        input[type="color"] {
            &::-webkit-color-swatch-wrapper {
                padding: 0;
            }

            &::-webkit-color-swatch {
                border: none;
            }
        }

        /*Icone de picker*/
        svg {
            position: absolute;
            width: 15px;
            height: 15px;
            top: 7px;
            right: 7px;
            pointer-events: none;
        }


    }

    /* modal de delete */

    .modal {
        background-color: #1a1a1a;
        width: 240px;
        height: 80px;
        padding: 10px;
        font-size: 12px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: white;
        border-radius: 5px;
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        z-index: 8000000;

        .btn-box {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                width: 40%;
                text-align: center;
            }
        }
    }

    /* card editável */
    .card {
        min-width: 100px;
        min-height: 100px;
        max-width: 400px;
        border-radius: 5px;
        padding: 10px;
        position: absolute;
        cursor: grab;
        color: white;
        box-shadow: 0px 0px 3px var(--bgBoard);
        font-size: 16px;
        font-weight: 500;
    }

    .drag-card {
        opacity: 0.3;
        cursor: grabbing;

    }
}